<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디렉티브</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <style>
        .mystyle{
            background-color: magenta;
            color:lime;
        }
        .myFont{
            font-size: 25px;
            font-weight: bolder;
        }
        [v-cloak]{
            display: none;
        }

    </style>
</head>
<body>
    <div id="app">
        <h3>v-on</h3>
        <p>
            태그에 이벤트를 설정하는 것 <br>
            v-on:이벤트로 설정가능 <br>
            v-on 을 생략하여 @이벤트명으로도 설정이 가능    
            설정에 이벤트가 발생할때의 실행되는 함수인 이벤트핸들러를 설정
            뷰인스턴스의 methods 속성에서 설정한 함수를 설정
        </p>
        <h4>이벤트 등록하기</h4>
        <button @click="basicEvent($event)">v-on으로 이벤트 설정</button>
        <button v-on:dblclick="basicEvent($event)">클릭 고고 </button>

        <h3>이벤트 핸들러 직접 설정하기</h3>
        <input type="text" v-on:change="e=>{console.log(e);console.log(this)}">
            
        <h4>로직만 선언했을때, 이베트 객체 접근하기</h4>
        <input type="text" @keyup="console.log($event); console.log($event.target.value); this.message=$event.target.value">
        <h3>message : {{message}}</h3>


        <h3>이벤트속성에 수식어 이용하기 </h3>
        <input type="text" @keyup.space="(e)=>{console.log('space바 누름')}">
        <input type="text" @keyup.enter="(e)=>{console.log('엔터를 눌렀다.')}">

        <h3>a태그 이동 제어하기 (prevent이벤트 사용 )</h3>
        <a href="/test" @click.prevent="console.log('이동');">a태그 이용 </a>

        <p>
            <button @click.right.prevent="e=>{console.log('우클릭')}">우클릭 이벤트 막기 </button>
            <button @click.meta="e=>{console.log('커맨드 누르고 클릭 ');}">커맨드 클릭하기 </button>
        </p>

        <h3>v-model</h3>
        <p>
            입력된 데이터와 연동할때 쓰는 디렉티브<br>
            input태그에 입력값 데이터를 연결할 때 사용 
        </p>
        <input type="text" v-model="inputData">
        <h3>{{inputData}}</h3>

        <h3>type=checkbox데이터연동하기 </h3>
        <p>
            checkbox에 value 속성을 설정하지 않으면, 연동된 데이터의 boolean 값이 기본적으로 들어간다.
            value속성을 설정하면, value값을 저장함 <br>
            checkbox가 다중으로 설정이 되면 , 
            연동된 데이터에 check된 태그의 value값이 배열로 저장, 연결되는 데이터 타입을 배열로 설정 
        </p>
        <input type="checkbox" name="basicCheck" v-model="basicCheck">
        <h3>{{basicCheck}}</h3>
        <h3>value값을 선언한 checkbox</h3>
        <input type="checkbox" name="basicCheck2" v-model="basicCheck2" value="체크값">값 설정 
        <h4>{{ basicCheck2}}</h4>


        <div>
            <h3>다중 checkbox를 데이터와 연결하기</h3>
            <input type="checkbox" v-model="hobby" value="운동" id="hobby1"><label for="hobby1">운동</label>
            <input type="checkbox" v-model="hobby" value="독서" id="hobby2"><label for="hobby2">독서</label>
            <input type="checkbox" v-model="hobby" value="음악" id="hobby3"><label for="hobby3">음악</label>
            <input type="checkbox" v-model="hobby" value="영화" id="hobby4"><label for="hobby4">영화</label>
            <input type="checkbox" v-model="hobby" value="댄스" id="hobby5"><label for="hobby5">댄스</label>
            <div>
               <h4>선택한 취미</h4>
               <p>{{hobby.join(',')}}</p>
               <ul>
                    <li v-for="(v,i) in hobby">{{ v}}</li>
               </ul>
            </div>
        </div>

    </div>
    <script>
        Vue.createApp({
            name:"App"
            ,data(){
                return {
                    massage:""
                    ,inputData:""
                    ,basicCheck:""
                    ,basicCheck2:[]
                    ,hobby:[]
                    ,
                }
            }
            ,methods:{
                basicEvent(e){
                    console.log(e);
                }
            }
        }).mount("#app")
    </script>
</body>
</html>